.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding: 20px 0;
}

.about h1{
    font-size: 40px;
    text-transform: uppercase;
}

.about p{
    padding: 10px 0;
    font-size: 18px;
}

@media screen and (max-width: 980px) {
    .about h1{
        font-size: 20px;
    }

    .about p{
        font-size: 14px;
    }
}